@import url('https://fonts.googleapis.com/css2?family=Fustat:wght@200..800&family=Matemasie&family=Rakkas&family=Rubik+Vinyl&family=Special+Gothic+Expanded+One&family=Zain:wght@200;300;400;700;800;900&display=swap');
@import url('https://db.onlinewebfonts.com/c/11a601d89920b5e32fefdec8d90d228b?family=Copperplate+Gothic+Std+32+BC');

* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fondo{
  background-image: url('./imagenes/derecha.jpg');
  border-radius: 0 0 90px 90px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  background-size: auto; 
  background-repeat: no-repeat;
  background-position: center;
  height: 100%; 
  width: 100%;

}

body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #1a1a1a;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
}

.top-bar {
  backdrop-filter: blur(10px);
  color: white;
  padding: 20px 30px;
  display: flex;
  align-items: center;
  font-size: 12px;
  display: flex;
  flex-direction: column;
}

.top-bar .brand-select {
  margin-left: auto;
  display: flex;
  flex-direction: column;
}

.nav-bar {
 background-color: transparent;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;

}

.nav-links {
  display: flex;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: transform 0.2s;
}

.nav-links a:hover {
  transform: scale(1.1);
}

.search-bar input {
  padding: 8px;
  border-radius: 20px;
  border: none;
  outline: none;
  width: 150px;
}

.col strong{
  padding-top: 50px;
  font-size: 60px;
  color: white;
  font-family: "fustat", "serif";
  width: 100%;
  display: flex;
  justify-content: center;
}
.col p{
  font-size: 30px;
  color: white;
  font-family: "Copperplate Gothic Std 32 BC";
  width: 100%;
  display: flex;
  justify-content: center;
}

hr{
  padding-top: 10px;
  border-radius: 100%;
  box-shadow:  0 10px 20px rgba(0, 0, 0, 0.9);;
}

.link {
  margin: 30px 120px 20px;
  width: fit-content;
  gap: 20px;
}

.tarjetas {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; 
  padding: 20px 0px 20px 5px;
  transition: transform 0.2s;
}

.tarjetas :hover {
  transform: scale(1.03);
}

.tarjetas img{
  padding-top: 20px;
  padding-left: 5px;
  width: 380px;
}

.card-overview {
  max-width: 1200px;
  margin: 0 auto;
}

.card-overview::part(base) {
  background-color: #3e685f;
  color: white;
  border-radius: 50px; 
  border: 4px solid #121122;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.9);
}
.card-overview strong{
  font-size: 50px;
}

.card-overview small {
  color: var(#121122);
  font-size: 20px;
}

.card-overview [slot='footer'] {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer {
  background-color: #2c3e50;
  color: white;
  text-align: center;
  padding: 2rem 0;
  margin-top: 3rem;
}
span
{
  text-decoration: line-through;
}
@media (max-width: 768px) {
  main {grid-template-columns: 1fr;}
  nav ul {flex-direction: column;gap: 15px;}

}
